@model Phono.Models.Phone

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Phone</h4>
    <hr />
    <ul>
        <li>
            <div class="col-md-2 text-uppercase">
                @Html.DisplayNameFor(m => m.Brand.BrandName)
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(m => m.Brand.BrandName)
            </div>
        </li>
        <li>
            <div class="col-md-2 text-uppercase">
                @Html.DisplayNameFor(m => m.PhoneType.Type)
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(m => m.PhoneType.Type)
            </div>
        </li>
        <li>
            <div class="col-md-2 text-uppercase">
                @Html.DisplayNameFor(m => m.PhoneName)
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(m => m.PhoneName)
            </div>
        </li>
        <li>
            <div class="col-md-2 text-uppercase">
                @Html.DisplayNameFor(m => m.DateReleased)
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(m => m.DateReleased)
            </div>
        </li>
        <li>
            <div class="col-md-2 text-uppercase">
                @Html.DisplayNameFor(m => m.ScreenSize)
            </div>
            <div class="col-md-10">
                @Html.DisplayFor(m => m.ScreenSize)
            </div>
        </li>
        <li>
            <div class="col-md-2 text-uppercase">
                @Html.DisplayNameFor(m => m.ImageUrl)
            </div>
            <div class="col-md-10">
                <img src="@Model.ImageUrl" />
            </div>
        </li>
    </ul>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
