@model IEnumerable<Phono.Models.Phone>

@{
    ViewBag.Title = "Index";
}

<h2>Mobile Device List</h2>

<p>
    @Html.ActionLink("Create New Device", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m => m.Brand.BrandName)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.PhoneType.Type)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.PhoneName)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.DateReleased)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.ScreenSize)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.ImageUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Brand.BrandName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneType.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateReleased)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScreenSize)
        </td>
        <td>
            <img src="@item.ImageUrl" />
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
