@model VidPlace.Models.CustomerMembershipVM

@{
    Layout = null;
    ViewBag.Title = "New Customer";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>New Customer</title>
</head>
<body>
    @Html.Partial("_NavBar")

    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                @using (Html.BeginForm("Save", "Media"))
                {
                    @Html.ValidationSummary(true, "Please fix the following errors", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(m => m.Customer.Name)
                        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Customer.Name)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Customer.Address)
                        @Html.TextBoxFor(m => m.Customer.Address, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Customer.Birthdate)
                        @Html.TextBoxFor(m => m.Customer.Birthdate, "{0:d MMM yyyy}", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Customer.Birthdate)
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Customer.MembershipId, "Select membership")
                        @Html.DropDownListFor(
                       m => m.Customer.MembershipId,
                       new SelectList(Model.Memberships, "Id", "Name"),
                       "Please select a membership",
                       new { @class = "form-control" }
                       )
                        @Html.ValidationMessageFor(m => m.Customer.MembershipId)
                    </div>

                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.Customer.IsSubcribedToNewsLetter)
                            Subscribe to Newsletter
                        </label>
                    </div>

                    @Html.HiddenFor(m => m.Customer.ID)

                    @Html.AntiForgeryToken()

                    <button type="submit" class="btn btn-primary">Save</button>

                    /*
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Customer</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Birthdate, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Birthdate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Birthdate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.IsSubcribedToNewsLetter, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.IsSubcribedToNewsLetter)
                                    @Html.ValidationMessageFor(model => model.IsSubcribedToNewsLetter, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MembershipId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.MembershipId, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MembershipId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                    */
                }
            </div>
            <div class="col-md-3"></div>
        </div>
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

        @Html.Partial("_Footer")

    </div>

    @Scripts.Render("~/bundles/jqueryval")

    @*@section scripts
        {
            @Scripts.Render("~/bundles/jqueryval")
        }*@

</body>
</html>
