@model IEnumerable<VidPlace.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (!Model.Any())
{
    <p>There are no customers available.</p>
}
else
{
    using (Html.BeginForm("Index", "Customers", FormMethod.Get))
    {
        <p>
            Find customer by Name: @Html.TextBox("SearchString")
            <input type="submit" value="Search" />
        </p>
    }
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>@Html.ActionLink("Customer's Name", "Index", "Customers", new {sort =ViewBag.SortByName, SearchString = ViewBag.search }, null)</th>
                <th>@Html.ActionLink("Membership Type", "Index","Customers", new { sort =ViewBag.SortbyMembership, SearchString = ViewBag.search } , null)</th>
                <th>Functions</th>
            </tr>
        </thead>


        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@customer.Name</td>
                    <td>@customer.Membership.Name</td>
                    <td>
                        @Html.ActionLink("Details", "Details", "Customers", new { id = customer.ID }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}