@model CustomerMedia.ViewModels.CustomerFormVM
@{
    ViewBag.Title = "CustomerForm";
}

<h2>Customer Form</h2>
@using (Html.BeginForm("Save", "Customer"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Address)
        @Html.TextBoxFor(m => m.Customer.Address, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Birthdate)
        @Html.TextBoxFor(m => m.Customer.Birthdate, new { @class = "form-control", type = "date" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipId, "Membership Type")
        @Html.DropDownListFor(m => m.Customer.MembershipId,
       new SelectList(Model.Memberships, "Id", "Name"),
        "Select Membership Type",
       new { @class = "form-control" })
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsLetter) Subscribed to News Letter
        </label>
    </div>
    @Html.HiddenFor(m => m.Customer.Id)

    <button type="submit" class="btn btn-primary bg-primary">Save</button>
}


